* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    
/* scrollbar styles */
::-webkit-scrollbar {
    width: 0.8rem;
}

/* track */
::-webkit-scrollbar-track {
    background: #2c3649;
    border-radius: 0.5rem;
}
    
/* handle */
::-webkit-scrollbar-thumb {
    background: #1DB954;
    border-radius: 0.5rem;
}
    
/* handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: lawngreen;
}
    
