@font-face {
    font-family: 'LatoFontThin';
    src: url('../assets/fonts/lato/Lato-Thin.ttf');
}
@font-face {
    font-family: 'LatoFontLight';
    src: url('../assets/fonts/lato/Lato-Light.ttf');
}
@font-face {
    font-family: 'LatoFontRegular';
    src: url('../assets/fonts/lato/Lato-Regular.ttf');
}
@font-face {
    font-family: 'LatoFontBold';
    src: url('../assets/fonts/lato/Lato-Bold.ttf');
}
@font-face {
    font-family: 'FontCaveat';
    src: url('../assets/fonts/caveat/Caveat-VariableFont_wght.ttf');
}

/* breakpoints */
@first-breakpoint: 640px;
@footer-icons-breakpoint: 800px;
@second-breakpoint: 1000px;

@blue-color: rgb(0, 179, 255); // #00b3ff

#dark() {
    background-color: #0d2438;
    background-color-on-element: lighten(#0d2438, 10%);
    text-color: white;
    text-color-hover: darken(white, 40%);
    cursor-color: white;
}

#light() {
    background-color: #e2e3d5;
    background-color-on-element: darken(#e2e3d5, 10%);
    text-color: black;
    text-color-hover: lighten(black, 20%);
    cursor-color: black;
}

/* scrollbar */
@scrollbar-color: @blue-color;
@scrollbar-hover-color: darken(@scrollbar-color, 10%);

:root {
    --scrollbar-dark-theme-background-color: #dark[background-color];
    --scrollbar-light-theme-background-color: #light[background-color];
}
