@font-face {
    font-family: 'LatoFont';
    src: url('../assets/fonts/Lato-Thin.ttf');
    src: url('../assets/fonts/Lato-Regular.ttf');
    src: url('../assets/fonts/Lato-Bold.ttf');
}

@blue-color: rgb(0, 179, 255);

// scrollbar
@scrollbar-background-color: grey;
@scrollbar-color: @blue-color;
@scrollbar-hover-color: darken(@scrollbar-color, 20%);


#dark() {
    background-color: black;
    text-color: white;
    cursor-color: white;
}


#light() {
    background-color: white;
    text-color: black;
    cursor-color: black;
}
