// scrollbar variables
@scrollbar-background-color: grey;
@scrollbar-color: rgb(0, 179, 255);
@scrollbar-hover-color: darken(@scrollbar-color, 20%);


#dark() {
    background-color: black;
    text-color: white;
    cursor-color: white;
}


#light() {
    background-color: white;
    text-color: black;
    cursor-color: black;
}
